html, body {
    width   : 100%;
    height  : 100%;
    margin  : 0;
    display : flex;
}

/* container left */

.container-left {
    height    : 100%;
    display   : flex;
    flex-wrap : wrap;
    flex      : 1;
    z-index   : 2;
}

/* nav */

nav {
    width       : 100%;
    height      : 70px;
    padding     : 10px;
    display     : flex;
    font-family : Arial, Helvetica, sans-serif;
}

.logo {
    widows : 50px;
    height : 50px;
    margin : auto;
}

ul {
    width           : 100%;
    display         : flex;
    justify-content : space-evenly;
    align-content   : center;
}

li {
    width   : 100%;
    height  : 25px;
    margin  : auto;
    display : flex;
}

li:hover {
    color : #088;
}

li a {
    width           : 100%;
    color           :#666;
    text-align      : center;
    text-decoration : none;
}
li a:hover {
    color : #088;
}

.active {
    border-bottom : 2px solid #088;
}
.active a {
    color : #088;
}

/* section */

h1 {
    width          : 100%;
    margin         : 0;
    font-family    : Arial, Helvetica, sans-serif;
    text-transform : uppercase;
    font-size      : 48px;
}

section {
    width         : 80%;
    height        : 60%;
    margin        : auto;
    align-content : center;
}

section p {
    margin      : 0 0 50px 0;
    font-family : Arial, Helvetica, sans-serif;
}

section a {
    color           : #666;
    text-decoration : none;
    font-style      : italic;
}

/* form */

form {
    width   : 110%;
    height  : 42px;
    display : flex;
}

svg {
    margin : 4px 20px 2px 20px;
}

.radius {
    width            : 150%;
    height           : 58px;
    margin           : 10px;
    border-radius    : 29px;
    background-color : #fff;
    box-shadow       : 0px 0px 50px 0px #cc8;
}

input {
    width            : 80%;
    height           : 58px;
    border           : 0px solid;
    font-size        : 18px;
    background-color : transparent;
}

button {
    width            : 150px;
    height           : 50px;
    margin           : 4px;
    border           : 0px solid;
    border-radius    : 29px;
    text-align       : center;
    background-color : #0f8;
}

.mdp {
    width      : 100%;
    text-align : center;
}

/* container right */

.container-right {
    display          : flex;
    flex             : 1.5;
    z-index          : 1;
    background-image : url('img/rabbit.jpg');
    background-size  : cover;
}


@media screen and (max-width: 450px) {
    .container-left section .radius form svg {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 4px 10px;
    }
    .container-left section .radius form input {
      margin-left: 5px;
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 800px) {
    .container-left {
      background-image: url("Group.svg");
      background-position: center;
    }
    .container-left nav {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
    .container-left nav .back-color {
      width: 100%;
      height: 100%;
      background-color: #CCFFF4;
      z-index: 2;
    }
    .container-left nav svg {
      margin: auto 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      right: 0;
      z-index: 2;
      background-color: #CCFFF4;
    }
    .container-left nav .logo {
      margin: auto 0;
      z-index: 2;
      background-color: #CCFFF4;
    }
    .container-left nav ul {
      display: none;
    }
    .container-left nav .mobile-menu {
      z-index: 1;
      background-color: #fff;
      display: none;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      position: fixed;
      margin-top: 70px;
      width: 100%;
    }
    .container-left nav .mobile-menu ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 0;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .container-left nav .mobile-menu ul li {
      margin: 20px;
      text-transform: uppercase;
    }
    .container-left section div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 50px;
    }
    .container-left section div p {
      margin: 0 auto;
    }
    .container-left section h1 {
      text-align: center;
    }
    .container-left section .radius {
      margin: 0;
      width: 100%;
      margin-bottom: 120px;
    }
    .container-left section .radius form {
      width: 100%;
      height: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    .container-left section .radius form input {
      width: 70%;
    }
    .container-left section .radius form button {
      margin: 40px auto;
    }
    .container-right {
      display: none;
    }
  }

  